.Projects{
    display: flex;
    flex-direction: column;
    scroll-margin-top: 6rem;
}

.Projects button:hover {
    color:aqua;
}

.Packaging{
    display: flex;
    /* position: relative;
    top: -3rem; */
    margin-bottom: 3rem;
    margin-top: 3rem;
    color: whitesmoke;
}

.ProTitle {
    color: #0C4854;
}

.RetoqueDigital{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 5rem;
    color: whitesmoke;
}

.RetoqueDigital .TextProject{
    margin-left: 4rem;
}

.Marcas{
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-color: #5E96CD; */
    background-color: #BAE7EC;
    background: linear-gradient(#2BA3C2, #BAE7EC, #BAE7EC,  #2BA3C2);
}

.Marcas img{
    width: 100%;
    margin: 10rem;
}

.Logos-Banners{
    display: flex;
    position: relative;
    top: -3rem;
    margin-bottom: 3rem;
    color: whitesmoke;
}

.Ux-Ui{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 3rem;
    color: whitesmoke;
}

.Ux-Ui .TextProject{
    margin-left: 4rem;
}

.TextProject{
    justify-self: center;
    align-self: flex-end ;
}

.ProjectImg{
    width: 40%;
    margin-right: 3rem ;
    margin-left: 5rem;
}

.TextProject h4{
    font-size: 2.9rem;
    font-weight: 500;
    /* color: #0A66C2; */
    font-family: var(--tipo-titulo2);
    margin-bottom: 2rem;
}

.TextProject p{
    font-family: var(--tipo-texto);
    font-weight: 400;
    /* color: #2A71B8; */
    font-size: 1.563rem;
    width: 80%;
    line-height: 1.7rem;
    margin-bottom: 1rem;
}

.TextProject button{
    font-size: 1.875rem;
    font-family: var(--tipo-titulo2);
    /* color: #0A66C2; */
    font-weight: 500;
    cursor: pointer;
}

.Arrow{
    position: relative;
    top: 6px;
}

@media only screen and (max-width: 1024px){
    .ProjectImg{
        width: 45%;
    }
    .Packaging{
        position: inherit;
        margin-top: 2rem;
        margin-bottom: 6rem;
    }

    .Logos-Banners{
        position: inherit;
        margin-bottom: 6rem;
    }

    .RetoqueDigital .TextProject h4{
        line-height: 3rem;
    }
}



@media only screen and (max-width: 768px){
    .Packaging img{
        margin-left: 2rem;
    }

    .Packaging p{
        width: 100%;
    }

    .TextProject p{
        font-size: 1.2rem;
    }
    
    .TextProject button{
        font-size: 1.4rem;
    }
    .TextProject h4{
        font-size: 2.5rem;
    }


    .RetoqueDigital img{
        margin-right: 1rem;
        margin-left: 2rem;
    }

    .RetoqueDigital .TextProject{
        margin-left: 2rem;
    }

    .RetoqueDigital p{
        width: 100%;
    }
    
    .Logos-Banners img{
        object-fit: scale-down;
        margin-left: 1rem;
    }
    
    .Ux-Ui img{
        object-fit: scale-down;
        margin-right: 1rem;
        margin-left: 2rem;
    }
    .Ux-Ui p{
        width: 100%;
    }

    .Marcas img{
        width: 100%;
    }
}

@media only screen and (max-width: 414px){
    .Projects{
        margin: auto;
    }
    .Packaging{
        flex-direction: column;
        align-items: center;
    }

    .TextProject{
        align-self: center;
        width: 80%;
    }

    .Projects h4{
        margin-top: 2rem;
    }
    .Projects img{
        width: 80%;
    }

    .RetoqueDigital{
        flex-direction: column;
        align-items: center;
    }

    .Logos-Banners{
        flex-direction: column;
        align-items: center;
    }

    .Logos-Banners h4{
        font-size: 2.3rem;
    }
    .Logos-Banners img{
        margin: 0;
        margin-left: 0;
    }
    .Ux-Ui{
        flex-direction: column;
        align-items: center;
    }

    .Ux-Ui .TextProject{
        margin-left: 0rem;
    }

    .Ux-Ui h4{
        font-size: 2.3rem ;
    }

    .Marcas img{
        width: 100%;
    }
}