.Contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #E5EBF9; */
    background-color:#0C4854;
    background: linear-gradient(#2BA3C2, #0C4854);
}

.ContactText{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 4rem;
}

.ContactText h2{
    font-family: var(--tipo-titulo2);
    font-size: 4.375rem;
    font-weight: 400;
    /* color: #0A66C2; */
    color: #EDF6F7;
    margin-bottom: 3rem;
}

.ContactText h4{
    font-family: var(--tipo-titulo3);
    font-size: 1.563rem;
    line-height: 1.9rem;
    /* color: #0A66C2; */
    color: #EDF6F7;
}

.ContactMe{
    display: flex;
    flex-direction: column;
    width: 26rem;
    margin: auto;
    scroll-margin-top: 6rem;
    margin-bottom: 3rem;
}


.ContactForm label{
    font-family: var(--tipo-titulo2);
    font-size: 1.2rem;
    /* color: #0A66C2; */
    color: #EDF6F7;
}

.ContactForm input{
    width: 100%;
    background-color: #B0CAE3;
    padding: 0.4rem;
    margin-bottom: 1.5rem;
}

.ContactForm textarea {
    background-color: #B0CAE3;
    border-style: hidden;
    width: 100%;
    resize: none;
}

::placeholder {
    font-size: .875rem;
    font-family: var(--tipo-titulo2);
    /* color: #1e76ce; */
    color:#0C4854;
}

.ContactForm button{
    background-color: #0A66C2;
    padding: 0.5rem 2.5rem;
    margin: auto;
    margin-top: 1rem;
    border-radius: 10px;
    border: 3px solid #0E355B;
    font-family: var(--tipo-titulo3);
    color: #ffffff;
    text-transform: uppercase;
}

textarea {
    padding-left: 0.3rem;
    padding-top: 0.3rem;
}

@media only screen and (max-width: 1024px){
    .Contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .ContactText{
        margin: auto;
        margin-top: 3rem;
        width: 90%;
    }

    .ContactMe{
        margin: auto;
        margin-top: 6rem;
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 414px){
    .ContactText h2{
        font-size: 2.5rem ;
    }

    .ContactText h4{
        font-size: 1.4rem ;
    }

    .ContactMe{
        width: 100%;
        margin: 0;
        margin: auto;
        padding: 2rem;
        margin-bottom: 3rem;
    }
}