.text {
    animation-name: aparecer;
    animation-duration: 1.5s;
    scroll-margin-top: 23vh;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
