
.NavBar {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    width: 100vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 2;
}

.Categorias {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "on tw th fo";
}

.Categorias p {
    font-size: 70%;
}

.Categorias a:hover {
    color:aqua;
}

#aboutMe {
    grid-area: tw;
}

#myProjects {
    grid-area: th;
}

#contact {
    grid-area: fo;
}